PORT =8000
MONGODB_URI = mongodb+srv://mabdulrasheedtalal_db_user:<db_password>@cluster0.ckqnvsb.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=YOUR_TOKEN_HERE
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=YOUR_TOKEN_HERE
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_URL=cloudinary://******:**********@*****
CLOUDINARY_CLOUD_NAME=NAME***
CLOUDINARY_API_SECRET=SECRET***
CLOUDINARY_API_KEY=API_KEY***